<div class="row">
<iframe width="600" height="450" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?q=crossroad%20baptist%20church%20urdaneta&key=AIzaSyBW934nPOqhDsL0AHtchqWWYqVsacv0lq8" allowfullscreen></iframe>  
</div>
