<div class="row">
  <div class="col s12 m6 offset-m3">
    <div class="card blue-grey darken-1 z-depth-3">
      <div class="card-content white-text">
        <h4>DO YOU EVER THINK ABOUT ETERNITY?  HEAVEN AND HELL?</h4>
      </div>
    </div>
  </div>
  <div class="col s12 m6 offset-m3">
    <ul class="collapsible popout">
      <li>
        <div class="collapsible-header"><i class="material-icons btn-floating pulse">filter_drama</i>1. DO YOU KNOW THAT EVERYONE IS A SINNER?</div>
        <div class="collapsible-body">
          <p><span class="italic">“As it is written, There is none righteous, no, not one.”</span>  Romans 3:10<br>
          <span class="italic">“For all have sinned, and come short of the glory of God.”</span>  Romans 3:23</p>
          
          <p>Sin is breaking any of God’s laws.  <span class="italic">“Whosoever committeth sin transgresseth also the law: for sin is the transgression of the law.”</span> I John 3:4</p>
          <p>Examples:  Thou shalt not make unto thee any graven image (Idolatry).  Thou shalt not take the name of the Lord thy God in vain.  Thou shalt not commit adultery.  Thou shalt not steal.  Thou shalt not kill.  Thou shalt not bear false witness (Lying).</p>
          <p><span class="italic">Breaking any of God’s laws is the same as breaking all of God’s laws. “For whosoever shall keep the whole law, and yet offend in one point, he is guilty of all.”</span>  James 2:10</p>
          <p>Note:  There are no levels of sin in the Bible.  Some teach that there are degrees of sin such as original, venial, and mortal, but God says that all sin is equally bad.</p>
          <p>Are you willing to admit you are a sinner and have broken God’s laws?</p>
        </div>
      </li>
      <li>
        <div class="collapsible-header"><i class="material-icons btn-floating pulse">whatshot</i>2. DO YOU KNOW YOUR SIN HAS SEPARATED YOU FROM GOD?</div>
        <div class="collapsible-body">
          <p>Man was created to fellowship with God.  When we sinned that fellowship was broken and judgment was passed on all men.</p>
          <p><span class="italic">“Wherefore, as by one man sin entered into the world, and death by sin; and so death passed upon all men, for that all have sinned.”</span> Romans 5:12</p>
          <p><span class="italic">“For the wages of sin is death…”</span>  Romans 6:23</p>
          <p><span class="italic">"And death and hell were cast into the lake of fire.  This is the second death.”</span>  Revelation 20:14</p>
          <p>Because you are a sinner you are condemned to death.  And this includes eternal separation from God in hell.  Note:  Purgatory is not mentioned in the Bible.  <span class="italic">“…it is appointed unto men once to die, but after this the judgment.”</span>  Hebrews 9:27</p>
          <p>Are you willing to admit that your sin has separated you from God and you deserve the penalty?</p>
        </div>
      </li>
      <li>
        <div class="collapsible-header"><i class="material-icons btn-floating pulse">directions_walk</i>3. DO YOU KNOW THERE IS ONLY ONE WAY TO BE RECONCILED TO GOD?</div>
        <div class="collapsible-body">
          <p><span class="italic">“Jesus saith unto him, I am the way, the truth, and the life: no man cometh unto the Father, but by me.”</span>  John 14:6</p>
          <p><span class="italic">“Neither is there salvation in any other: for there is none other name under heaven given among men, whereby we must be saved.”</span>  Acts 4:12</p>
          <p>Many churches and religions use the name of Jesus Christ, but there are certain things that must be understood to know the truth.</p>
          <p>A.  PERSON:  Jesus is God.  <span class="italic">“I and my Father are one.”</span>  John 10:30</p>
          <p>B.  PRICE:  <span class="italic">“But God commendeth his love toward us, in that, while we were yet sinners, Christ died for us.</span>  Romans 5:8</p>
          <p><span class="italic">“…Christ died for our sins according to the scriptures; And that he was buried, and that he rose again the third day according to the scriptures.”</span>  I Corinthians 15:3-4</p>
          <p>Jesus paid the price for your sin.</p>
          <p>God’s love for you prompted Him to send Jesus to die in your place.  He suffered on the cross so that you would not have to suffer.  He shed His blood and gave His life as the sacrifice for your sins.  He is your substitute.</p>
          <p>C.  PLAN:  The plan is Jesus Christ alone.  Satan has invented many plans to trick man into thinking his works can help him get to heaven.  Don’t believe these lies!</p>
          <p><span class="italic">“For by grace are ye saved through faith; and that not of yourselves: it is the gift of God: Not of works, lest any man should boast.”</span> Ephesians 2:8-9</p>
          <p><span class="italic">“Not by works of righteousness which we have done, but according to his mercy he saved us…”</span> Titus 3:5</p>
          <p>Jesus + Pope = NO •  Jesus + Idols = NO • Jesus + Mary = NO
            Jesus + Good Works = NO • Jesus + Baptism = NO  • Jesus + ANYTHING = NO!</p>
          <p>Nothing can be added to the finished work of Jesus Christ.  He shed His blood, died on the cross, and raised Himself from the dead to pay for your sins.  The only way to go to heaven is to trust the finished work of Jesus Christ.</p>
          <p>Repentance is when you turn to Jesus Christ as your only hope of eternal life and let go of any other confidence you may have.</p>
          <p>Jesus Alone=YES!</p>
          <p>Do you believe that Jesus Christ is the Son of God?  That he died, was buried, and rose again to pay for your sins?  That Jesus Christ, and Jesus Christ alone is the only way to heaven?</p>
        </div>
      </li>
      <li>
        <div class="collapsible-header"><i class="material-icons btn-floating pulse">filter_drama</i>4. DO YOU KNOW THOSE WHO RECEIVE JESUS CHRIST ARE SAVED FOREVER?</div>
        <div class="collapsible-body">
          <p><span class="italic">“But as many as received him, to them gave he power to become the sons of God, even to them that believe on his name.”</span> John 1:12</p>
          <p><span class="italic">“For whosoever shall call upon the name of the Lord shall be saved.”</span> Romans 10:13</p>
        </div>
      </li>
      </li>
    </ul>
  </div>
</div>
<script>
  $(document).ready(function(){
    $('.collapsible').collapsible();
  });
</script>