<div class="parallax-container">
  <div class="parallax"><img src="/assets/banner_top.jpg"></div>
</div>
<div class="section white">
  <div class="row container center">
    <h2 class="header">Crossroad Baptist Church</h2>
    <p>"As cold waters to a thirsty soul, so is good news from a far country."</p>
  </div>

  <div class="row">
    <div class="col s12 m4">
      <div class="card">
        <div class="card-image">
          <img class="materialboxed" src="/assets/15th_anniversary.jpg">
          <span class="card-title">Anniversary Fever!</span>
        </div>
        <div class="card-content">
          <p>CBC will celebrate 15 years on August 4, 2019. We will have a motorcade on August 3 @ 8 a.m. and the grand celebration will start on Sunday the 4th @ 10 a.m. Happy Anniversary CBC!</p>
        </div>
        <div class="card-action">
          <a href="#">PUBLISHED DATE: July 13, 2019</a>
        </div>
      </div>
    </div>

    <div class="col s12 m4">
      <div class="card">
        <div class="card-image">
          <img class="materialboxed" src="/assets/cbc_children.jpg">
          <span class="card-title">CBC Children’s Choir</span>
        </div>
        <div class="card-content">
          <p>Our hearts were blessed by our children’s choir this morning. The future is bright for CBC! We are gonna need more chairs in our auditorium as the next generation continues to grow up. Ang gagaling na bata! (Great job Children!) We love you!</p>
        </div>
        <div class="card-action">
          <a href="#">July 7, 2019</a>
        </div>
      </div>
    </div>

    <div class="col s12 m4">
      <div class="card">
        <div class="card-image">
          <img class="materialboxed" src="/assets/youth_camp.jpg">
          <span class="card-title">Youth Camp 2019</span>
        </div>
        <div class="card-content">
          <p>Youth Camp 2019 has ended. This is the group of awesome campers, staff and counselors from CBC. A special thanks to Dave and Lorna Cogburn for their sacrificial involvement and overseeing all the food preparations. And to all the good folks from CBC who pitched in to make this all possible. Thank you!</p>
        </div>
        <div class="card-action">
          <a href="#">May 24, 2019</a>
        </div>
      </div>
    </div>
  </div>

  <!--row 2-->
  <div class="row">
    <div class="col s12 m4">
      <div class="card">
        <div class="card-image">
          <img class="materialboxed" src="/assets/deaf.jpg">
          <span class="card-title">Deaf Camp 2019</span>
        </div>
        <div class="card-content">
          <p>2019 Deaf Camp: CBC loves the folks in our deaf ministry. Several of them enjoyed a good time at camp this week. One girl (red sweater) was a first time visitor last Sunday. She and two others trusted Christ as their personal Savior this week. Thank you, Bro. and Mrs. Himes, for the camp and, Sis. Lendy, for your sacrifice.</p>
        </div>
        <div class="card-action">
          <a href="#">May 10, 2019</a>
        </div>
      </div>
    </div>

    <div class="col s12 m4">
      <div class="card">
        <div class="card-image">
          <img class="materialboxed" src="/assets/couples.jpg">
          <span class="card-title">Couples Cultural Attire Contest</span>
        </div>
        <div class="card-content">
          <p>This morning our couples concluded the cultural attire contest. Our children represented the nation of South Korea. Thank you for all the cooperation and participation! We’ll have the Parade of Nations next week. CBC Loves World Missions!</p>
        </div>
        <div class="card-action">
          <a href="#">March 17, 2019</a>
        </div>
      </div>
    </div>

    <div class="col s12 m4">
      <div class="card">
        <div class="card-image">
          <img class="materialboxed" src="/assets/singles.jpg">
          <span class="card-title">Singles Cultural Attire Contest</span>
        </div>
        <div class="card-content">
          <p>We had a great time yesterday as we continued to celebrate missions. Our singles participated in the cultural attire contest and the children taught us about the nation of India. We have a man, Tony, attending our church from Nigeria and God did something special through his testimony. Bro. and Mrs. Marquez were a blessing. What a great day!</p>
        </div>
        <div class="card-action">
          <a href="#">March 11, 2019</a>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="parallax-container">
  <div class="parallax"><img src="/assets/banner.jpg"></div>
</div>
<div class="section white">
  <div class="row container center">
    <h4 class="header">Resurrection Fellowship @ Sunrise!</h4>
    <p>We had a sweet time of singing and fellowship as we read the Scriptures and reflected on that morning when our Lord raised Himself from the dead. He rose victorious over death and sin and lives forevermore. “He is not here: for HE IS RISEN!”</p>
  </div>
</div>
<script>
$(document).ready(function(){
  $('.carousel.carousel-slider').carousel({
    fullWidth: true,
    indicators: true
  });

  $('.parallax').parallax();
  $('.carousel').carousel();
  $('.materialboxed').materialbox();
});
</script>