nav {
  background-color: #0b0e3f!important;
}

.c-yellow {
  color: #ffff4e!important;
}

.c-bg-black {
  background-color: black;
}

.cbc-blue {
  background-color: #0b0e3f!important;
}

.italic {
  font-style: italic;
}

nav ul li :hover, nav ul li .active {
  color: #0b0e3f!important;
  background-color: #ffff4e!important;
}